
        @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
}

header {
    background-color: #000000;
    font-family: "Satisfy", cursive;
    text-align: center;
    font-size: 40pt;
    border: 1px solid #ff0019;
    color: #ff0000;
    margin: none;
    padding: 20px;
}
header:hover {
    background-color: #ff0202;
    color: #000000;
}

main {
    display: flex;
    border: 0px rgb(0, 0, 0);
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    background-color: #000000;
    text-align: center;
}
b h3 {
    text-justify: center;
    margin: 0px;
    text-align: 0px;
}
section {
    background-color: #b40606;
    margin: 10px;
    border: 10px rgb(0, 0, 0);
    padding: 30px;
    border-radius: 29%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px rgb(255, 0, 0);
    text-align: center;
}

button {
    background-color: #f70000;
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    height: 23px;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    text-align: center;
}
button:hover {
    background-color: rgb(5, 5, 5);
    color: rgb(0, 0, 0);
}
input {
    text-align: center;
}

